<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Log in</title>
  </head>
  <body>
    <h1>Go ahead and Kenny "Log in"</h1>
    {{#errormessage}}
      {{.}}
    {{/errormessage}}
    <form class="" action="/login" method="post">
      <input type="text" name="username" value="">
      <input type="text" name="password" value="">
      <button type="submit" name="button">Log In</button>
    </form>

  </body>
</html>
